@@include("../partials/header.html")

<section class="case-page">
  <div class="wrapper">
    <div class="case-page_text-wrapper">
      <h1 class="title1">I NEED MORE SALES</h1>
      <p class="text case-page_descrition">
        Эксперты в HR, продажах, обучении, командообразовании и развитии лидеров. Мы легко погружаемся в проблематику
        разных отраслей бизнеса
      </p>
    </div>
    <ul class="case-page_list-images">
      <li>
        <img src="../../static/img/case-image-1.jpg" alt="">
      </li>
      <li>
        <img src="../../static/img/case-image-2.jpg" alt="">
      </li>
      <li>
        <img src="../../static/img/case-image-3.jpg" alt="">
      </li>
      <li>
        <img src="../../static/img/case-image-4.jpg" alt="">
      </li>
      <li>
        <img src="../../static/img/case-image-3.jpg" alt="">
      </li>
      <li>
        <img src="../../static/img/case-image-1.jpg" alt="">
      </li>
      <li>
        <button class="btn" data-modal="modal-slider-images">
          <span class="button-s" id="more">Еще 50 фото</span>
        </button>
      </li>
    </ul>

    <div class="accordion2">
      <details open="open">
        <summary>
          <span class="title2">Проблемы</span>
          <span class="accordion2_chevron-box" aria-hidden="true">
          </span>
        </summary>
        <div class="accordion2_content" style="display: none;">
          <ul class="accordion2_content-list accordion2_content-list__two-columns">
            <li class="text">Низкий уровень продаж на человека</li>
            <li class="text">Неравномерные результаты в разных регионах</li>
            <li class="text">Отсутствие фокуса на долгосрочном планировании</li>
            <li class="text">Ориентация сотрудников на выполнение месячного плана</li>
            <li class="text">Слабая коммуникация между командами</li>
            <li class="text">Разброс сотрудников по разным городам</li>
            <li class="text">Демотивированные сотрудники из-за смены бонусной системы</li>
            <li class="text">Нехватка мотивации для обмена знаниями</li>
            <li class="text">Опытные сотрудники не имели формата для интересного обмена опытом</li>
          </ul>
        </div>
      </details>
    </div>

    <div class="accordion2">
      <details open="open">
        <summary>
          <span class="title2">Цели</span>
          <span class="accordion2_chevron-box" aria-hidden="true">
          </span>
        </summary>
        <div class="accordion2_content" style="display: none;">
          <ul class="accordion2_content-list accordion2_content-list__two-columns">
            <li class="text">Задать единую высокую планку личного результата по продажам</li>
            <li class="text">Создать мотивацию и инструменты для долгосрочного планирования</li>
            <li class="text">Формирование круга внутренних экспертов для обучения</li>
            <li class="text">Создание ярких эмоций от необычного формата мероприятий для вдохновения сотрудников</li>
            <li class="text">Построение неформальной сети знакомств</li>
          </ul>
        </div>
      </details>
    </div>

    <div class="accordion2">
      <details open="open">
        <summary>
          <h3 class="title2">Реализация</h3>
          <span class="accordion2_chevron-box" aria-hidden="true">
          </span>
        </summary>
        <div class="accordion2_content" style="display: none;">
          <ul class="accordion2_content-list accordion2_content-list__one-column">
            <li class="text">
              <h4 class="subtitle">Формат</h4>
              <span class="text">Бизнес-квест</span>
            </li>
            <li class="text">
              <h4 class="subtitle">Участники</h4>
              <span class="text">60 сотрудников, прошедших предварительный отбор</span>
            </li>
            <li class="text">
              <h4 class="subtitle">Площадка</h4>
              <span class="text">Виртуальная для общения участников с приветственным открытием в стилистике
                межгалактических путешествий</span>
            </li>
            <li class="text">
              <h4 class="subtitle">Локация</h4>
              <span class="text">Красная Поляна с темой четырех инопланетных цивилизаций</span>
            </li>
            <li class="text">
              <h4 class="subtitle">Закрытие</h4>
              <span class="text">Торжественное с мастер-классом по барабанам</span>
            </li>
          </ul>
        </div>
      </details>
    </div>

    <div class="case-page_results">
      <h2 class="title2 case-page_results-title">Итоги</h2>
      <div class="case-page_results-container">
        <!-- <div class="case-page_results-row"> -->
        <div class="case-page_results-text">
          <h3 class="subtitle">Общее мнение</h3>
          <p class="text">Все сотрудники отметили Кэмп как самое яркое и мотивирующее событие за время работы.</p>
        </div>
        <div class="case-page_results-percent">
          <h2 class="subtitle">Продажи</h2>
          <p>
            <svg data-route="up" xmlns="http://www.w3.org/2000/svg" width="36" height="35" viewBox="0 0 36 35"
              fill="none">
              <path d="M11 0.459473H36V26.2169H32V7.31838L5.65686 34.4595H0L29.0003 4.58065H11V0.459473Z"
                fill="#F54A00" />
            </svg>
            <span class="numbers-2"><span>30</span>%</span>
          </p>
        </div>
        <!-- </div> -->

        <!-- <div class="case-page_results-row"> -->
        <div class="case-page_results-text">
          <h3 class="subtitle">Коммуникация</h3>
          <p class="text">Улучшение взаимодействия в межрегиональных командах</p>
        </div>
        <div class="case-page_results-percent">
          <h2 class="subtitle">Текучесть персонала</h2>
          <p>
            <svg data-route="up" xmlns="http://www.w3.org/2000/svg" width="36" height="35" viewBox="0 0 36 35"
              fill="none">
              <path d="M11 0.459473H36V26.2169H32V7.31838L5.65686 34.4595H0L29.0003 4.58065H11V0.459473Z"
                fill="#F54A00" />
            </svg>
            <span class="numbers-2"><span>30</span>%</span>
          </p>
        </div>
        <!-- </div> -->

        <!-- <div class="case-page_results-row"> -->
        <div class="case-page_results-text">
          <h3 class="subtitle">Карьера</h3>
          <p class="text">Улучшение взаимодействия в межрегиональных командах</p>
        </div>
        <div class="case-page_results-percent">
          <h2 class="subtitle">Уровень вовлеченности</h2>
          <p>
            <svg data-route="down" xmlns="http://www.w3.org/2000/svg" width="36" height="35" viewBox="0 0 36 35"
              fill="none">
              <path d="M11 0.459473H36V26.2169H32V7.31838L5.65686 34.4595H0L29.0003 4.58065H11V0.459473Z"
                fill="#F54A00" />
            </svg>
            <span class="numbers-2"><span>30</span>%</span>
          </p>
        </div>
        <!-- </div> -->
      </div>
    </div>

    <div class="other-cases">
      <h2 class="title1 other-cases_title">Другие кейсы</h2>
      <div class="case">
        <img src="../../static/img/image-cases-1.jpg" alt="">
        <img src="../../static/img/image-cases-2.jpg" alt="">
        <div class="case_about">
          <h3 class="subtitle case_about-title">I NEED MORE SALES</h3>
          <p class="text">Эксперты в HR, продажах, обучении, командообразовании и развитии лидеров. Мы легко погружаемся
            в проблематику разных отраслей бизнеса</p>
          <a href="#" class="button-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path
                d="M19.207 13.3477L13.8281 18.7617L13.2305 19.3594L12.0352 18.1641L12.6328 17.5664L16.5703 13.5938H4.125L4.125 11.9062H16.5703L12.0352 7.37109L13.2305 6.17578L19.8047 12.75L19.207 13.3477Z"
                fill="white" />
            </svg>
          </a>
        </div>
        <img src="../../static/img/image-cases-3.jpg" alt="">
      </div>

      <div class="case">
        <img src="../../static/img/image-cases-1.jpg" alt="">
        <img src="../../static/img/image-cases-2.jpg" alt="">
        <div class="case_about">
          <h3 class="subtitle case_about-title">I NEED MORE SALES</h3>
          <p class="text">Эксперты в HR, продажах, обучении, командообразовании и развитии лидеров. Мы легко погружаемся
            в проблематику разных отраслей бизнеса</p>
          <a href="#" class="button-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
              <path
                d="M19.207 13.3477L13.8281 18.7617L13.2305 19.3594L12.0352 18.1641L12.6328 17.5664L16.5703 13.5938H4.125L4.125 11.9062H16.5703L12.0352 7.37109L13.2305 6.17578L19.8047 12.75L19.207 13.3477Z"
                fill="white" />
            </svg>
          </a>
        </div>
        <img src="../../static/img/image-cases-3.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<div class="modal-wrap" id="modal-slider-images">
  <div class="modal">

    <button class="modal-cross btn-times">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
        <g clip-path="url(#clip0_950_851)">
          <rect x="11.5156" y="8.48535" width="28" height="4" transform="rotate(45 11.5156 8.48535)" fill="white" />
          <rect x="8.6875" y="28.2842" width="28" height="4" transform="rotate(-45 8.6875 28.2842)" fill="white" />
        </g>
        <defs>
          <clipPath>
            <rect width="28" height="28" fill="white" transform="translate(20) rotate(45)" />
          </clipPath>
        </defs>
      </svg>
    </button>
    <div class="swiper case-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../../static/img/case-image-1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-2.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../../static/img/case-image-3.jpg" alt=""></div>
      </div>

      <div class="case-slider_swiper-button-wrapper">
        <div class="button-arrow case-slider-button-prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path
              d="M4.79297 11.6523L10.1719 6.23828L10.7695 5.64063L11.9648 6.83594L11.3672 7.43359L7.42969 11.4063L19.875 11.4062L19.875 13.0938L7.42969 13.0938L11.9648 17.6289L10.7695 18.8242L4.19531 12.25L4.79297 11.6523Z"
              fill="black" />
          </svg>
        </div>
        <div class="button-arrow case-slider-button-next">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path
              d="M19.207 13.3477L13.8281 18.7617L13.2305 19.3594L12.0352 18.1641L12.6328 17.5664L16.5703 13.5938H4.125L4.125 11.9062H16.5703L12.0352 7.37109L13.2305 6.17578L19.8047 12.75L19.207 13.3477Z"
              fill="black" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

@@include("../partials/footer-empty.html")