@@include("../partials/header.html")

<div class="main" id="main-content">
  <section class="hero-section">
    <div class="wrapper">
      <h1 class="visually-hidden">akiwa</h1>
      <img src="../../static/img/logo-hero-section.svg" alt="" class="hero-section_logo">
      <p class="title2 animRotate">
        И&nbsp;это&nbsp;будет&nbsp;совсем&nbsp;
        другое&nbsp;дело!
      </p>
      <p class="text">Бизнес кэмп и пространство для роста</p>


      <div class="hero-section_lottie"></div>

      <div id="hero-video_mob">
        <video src="../../static/animation/MOBILE.mp4" id="videoMobile"  muted playsinline></video>
      </div>
    </div>
  </section>

  <section class="motivation">
    <div class="wrapper">
      <h2 class="title1 motivation_title">
        <span class="motivation_title-left-block">
          <span class="anim-left">У&nbsp;многих&nbsp;компаний</span>
          <span class="anim-left">есть&nbsp;программа</span>
          <span class="anim-left">мотивации</span>
        </span>
        <span class="motivation_title-right-block">
          <span class="anim-right">но&nbsp;нет&nbsp;мотивации</span>
          <span class="anim-right">у&nbsp;сотрудников</span>
        </span>
      </h2>
      <div class="motivation_text-block">
        <div class="motivation_text-block-empty"></div>
        <div class="motivation_text-wrapper">
          <p class="text">Есть HR-бренд, но нет интереса со стороны перспективных кандидатов</p>
          <p class="text">Есть корпоративная культура, но не хватает человеческого контакта</p>
        </div>
      </div>
    </div>
  </section>

  <section class="company-people">
    <div class="wrapper">
      <div class="company-people_text-block">
        <h2 class="title1 company-people_title">
          <span>Каждая компания</span>
          <span>это люди</span>
        </h2>
        <p class="text">Люди, которые иногда теряют себя и смысл своей работы в потоке бесконечных звонков, отчётов и
          дедлайнов</p>
      </div>
      <div class="company-people_images-block">
        <div class="company-people_image">
          <img src="../../static/img/img1.jpg" alt="">
        </div>
        <div class="company-people_image">
          <img src="../../static/img/img2.jpg" alt="">
        </div>
        <div class="company-people_lottie-wrapper">
          <p class="title2">А может быть совсем по&nbsp;другому…</p>
          <div class="company-people_lottie"></div>
        </div>
        <div class="company-people_image">
          <img src="../../static/img/img-3.jpg" alt="">
        </div>
        <div class="company-people_image">
          <img src="../../static/img/img-4.jpg" alt="">
        </div>
        <div class="company-people_image">
          <img src="../../static/img/img-5.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  <section class="help-section" id="help-section">
    <div class="wrapper">
      <div class="help-section_title-text-wrapper">
        <h2 class="title1 help-section_title">Мы поможем вашей компании</h2>
        <div class="help-section_text-wrapper">
          <p class="text">Понять, почему они потерялись в потоке отчетов и онлайн-встреч </p>
          <p class="text">Раскрыть их и прожить вместе во время бизнес-кэмпа</p>
          <p class="text">Выявить изначальные смыслы, заложенные в целях и стратегиях</p>
          <p class="text">Закрепить их с сотрудниками в ходе игры, включающей тренинги </p>
        </div>
      </div>
      <div class="help-section_image-wrapper">
        <video src="../../static/img/5947991_Gen Z_Generation Z_3840x2160.mp4" class="help-section_image" loop
          muted></video>
        <!-- <img src="../../static/img/image-help-section.jpeg" class="help-section_image" alt=""> -->
      </div>
      <div class="help-section_description-statistic-wrapper">
        <div class="help-section_description">
          <p class="text">Каждый кэмп - это мощный катализатор изменении и источник вдохновения для каждого сотрудника.
            Мы
            помогаем не просто почувствовать себя на одной волне со всеми – научиться синхронно двигаться к целям, точно
            зная, зачем и куда плыть</p>
          <p class="text">Вместе с вами мы создадим кэмп, который пробудит новых внутренних лидеров, создаст круг
            внутренних
            экспертов, вернет каждому сотруднику смысл для ежедневной работы!</p>
        </div>
        <ul class="help-section_statistics-list">
          <li>
            <div class="numbers">
              <span>&lt;&nbsp;</span><span class="help-section_numbers" data-value=">600">600</span>
            </div>
            <span class="text">сотрудников разных компаний участвовали в кэмпах</span>
          </li>
          <li>
            <div class="numbers">
              <span class="help-section_numbers" data-value="40">40</span><span>+</span>
            </div>
            <span class="text">созданных тренингов на различные темы</span>
          </li>
          <li>
            <div class="numbers">
              <span class="help-section_numbers" data-value="16">16</span>
            </div>
            <span class="text">подготовленных внутренних тренеров</span>
          </li>
          <li>
            <div class="numbers">
              <span class="help-section_numbers" data-value="35">35</span><span>%</span>
            </div>
            <span class="text">увеличение вовлеченности
              сотрудников после завершения</span>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <div class="gray-blocks">
    <section class="creation" id="creation">
      <div class="wrapper">
        <div class="swiper creation_slider">

          <div class="swiper-wrapper">
            <div class="swiper-slide creation_slide">
              <div class="creation_slide-wrapper">
                <span class="title1">Узнайте как</span>
                <span class="title1">мы создаем</span>
                <span class="title1">кэмп</span>
              </div>
            </div>
            <div class="swiper-slide creation_slide">
              <div class="creation_slide-stage">
                <span class="subtitle">1 этап</span>
              </div>
              <div class="creation_slide-text-wrapper">
                <h3 class="subtitle">Диагностика вашей компании</h3>
                <p class="text">Определим текущую ситуацию и цели компании через онлайн-интервью.</p>
                <a href="">
                  <div class="btn-image_wrapper"></div>
                </a>
              </div>
              <img src="../../static/img/slider-image-1.jpg" class="creation_slide-image" alt="">
            </div>
            <div class="swiper-slide creation_slide">
              <div class="creation_slide-stage">
                <span class="subtitle">2 этап</span>
              </div>
              <div class="creation_slide-text-wrapper">
                <h3 class="subtitle">Презентация концепции</h3>
                <p class="text">Предложим идеи кэмпа, адаптированные под цели и потребности вашей команды.</p>
                <a href="">
                  <div class="btn-image_wrapper"></div>
                </a>
              </div>
              <img src="../../static/img/slider-image-2.jpg" class="creation_slide-image" alt="">
            </div>
            <div class="swiper-slide creation_slide">
              <div class="creation_slide-stage">
                <span class="subtitle">3 этап</span>
              </div>
              <div class="creation_slide-text-wrapper">
                <h3 class="subtitle">Разработка программы</h3>
                <p class="text">Создадим тематику кэмпа, сценарий бизнес-игры и тренингов, подберём спикеров и
                  сформируем
                  смету</p>
                <a href="">
                  <div class="btn-image_wrapper"></div>
                </a>
              </div>
              <img src="../../static/img/slider-image-3.jpg" class="creation_slide-image" alt="">
            </div>
            <div class="swiper-slide creation_slide">
              <div class="creation_slide-stage">
                <span class="subtitle">4 этап</span>
              </div>
              <div class="creation_slide-text-wrapper">
                <h3 class="subtitle">Согласование и оплата</h3>
                <p class="text">Обсудим детали и бюджет после утверждения вносится предоплата.</p>
                <a href="">
                  <div class="btn-image_wrapper"></div>
                </a>
              </div>
              <img src="../../static/img/slider-image-4.jpg" class="creation_slide-image" alt="">
            </div>
            <div class="swiper-slide creation_slide">
              <div class="creation_slide-stage">
                <span class="subtitle">5 этап</span>
              </div>
              <div class="creation_slide-text-wrapper">
                <h3 class="subtitle">Подготовка и проведение</h3>
                <p class="text">Организуем весь процесс «от» и «до», включая локацию, логистику, кейтеринг и мерч.
                  Обеспечим
                  комфорт и поддержку</p>
                <a href="">
                  <div class="btn-image_wrapper"></div>
                </a>
              </div>
              <img src="../../static/img/slider-image-5.jpg" class="creation_slide-image" alt="">
            </div>
            <div class="swiper-slide creation_slide">
              <div class="creation_slide-stage">
                <span class="subtitle">6 этап</span>
              </div>
              <div class="creation_slide-text-wrapper">
                <h3 class="subtitle">Фоллоу-ап</h3>
                <p class="text">Поможем собрать обратную связь, оценить результаты и поддержим участников после кэмпа.
                </p>
                <a href="">
                  <div class="btn-image_wrapper"></div>
                </a>
              </div>
              <img src="../../static/img/slider-image-6.jpg" class="creation_slide-image" alt="">
            </div>
            <div class="swiper-slide creation_slide">
              <div class="creation_slide-text-wrapper">
                <h3 class="subtitle">Узнайте подробнее о нашей авторской методике бизнес-кемпов </h3>
                <a class="btn-image" href="#" target="_blank">
                  <div class="btn-image_wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                      <path
                        d="M5.25 20.125V18.4375H18.75V20.125H5.25ZM12.5977 15.3789L12 16.0117L11.3672 15.3789L6.86719 10.5977L6.30469 9.96484L7.53516 8.83984L8.09766 9.4375L11.1562 12.6719V4.375H12.8438V12.6719L15.8672 9.4375L16.4648 8.83984L17.6953 9.96484L17.0977 10.5977L12.5977 15.3789Z"
                        fill="#464F5E" />
                    </svg>
                  </div>
                  <span class="button-s">Скачать презентацию</span>
                </a>
              </div>
              <img src="../../static/img/slider-image-7.jpg" class="creation_slide-image" alt="">
            </div>
          </div>

          <div class="creation_swiper-button-wrapper">
            <div class="button-arrow creation_swiper-button-prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path
                  d="M4.79297 11.6523L10.1719 6.23828L10.7695 5.64063L11.9648 6.83594L11.3672 7.43359L7.42969 11.4063L19.875 11.4062L19.875 13.0938L7.42969 13.0938L11.9648 17.6289L10.7695 18.8242L4.19531 12.25L4.79297 11.6523Z"
                  fill="white" />
              </svg>
            </div>
            <div class="button-arrow creation_swiper-button-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path
                  d="M19.207 13.3477L13.8281 18.7617L13.2305 19.3594L12.0352 18.1641L12.6328 17.5664L16.5703 13.5938H4.125L4.125 11.9062H16.5703L12.0352 7.37109L13.2305 6.17578L19.8047 12.75L19.207 13.3477Z"
                  fill="white" />
              </svg>
            </div>
          </div>
        </div>
        <div class="creation_slide__background-wrapper">
          <div class="creation_slide__background"></div>
          <div class="creation_slide__background"></div>
          <div class="creation_slide__background"></div>
          <div class="creation_slide__background"></div>
          <div class="creation_slide__background"></div>
          <div class="creation_slide__background"></div>
          <div class="creation_slide__background"></div>
          <div class="creation_slide__background"></div>
        </div>

        <div class="creation_animation"></div>
      </div>
    </section>

    <section class="target-audience">
      <div class="wrapper">
        <h2 class="title1 target-audience_title">
          <span>Для кого</span>
          <span>подходит кэмп?</span>
        </h2>
        <div class="target-audience_card-container">
          <div class="target-audience_card">
            <img src="../../static/img/target-audience_image-1.png" alt="">
            <div class="target-audience_card-text-wrapper">
              <h3 class="subtitle">Компаниям с фокусом на корпоративную культуру</h3>
              <p class="text">Повышаем лояльность сотрудников, объединяем команду и создаем ощущение общей цели и
                ценностей
              </p>
            </div>
          </div>
          <div class="target-audience_card">
            <img src="../../static/img/target-audience_image-2.png" alt="">
            <div class="target-audience_card-text-wrapper">
              <h3 class="subtitle">Компаниям, работающим на удалёнке</h3>
              <p class="text">Знакомим, сближаем и помогаем наладить контакт коллегам из разных частей России и мира</p>
            </div>
          </div>
          <div class="target-audience_card">
            <img src="../../static/img/target-audience_image-3.png" alt="">
            <div class="target-audience_card-text-wrapper">
              <h3 class="subtitle">Франчайзинговым сетям</h3>
              <p class="text">Сближаем франчайзи, формируем и усиливаем единые ценности, поддерживая целостный дух
                бренда
              </p>
            </div>
          </div>
          <div class="target-audience_card">
            <img src="../../static/img/target-audience_image-4.png" alt="">
            <div class="target-audience_card-text-wrapper">
              <h3 class="subtitle">Выпускникам престижных курсов и бизнес-школ</h3>
              <p class="text">Помогаем выпускникам поддерживать и укреплять связь, удовлетворяем потребность
                в личностном
                развитии</p>
            </div>
          </div>
          <div class="target-audience_card">
            <img src="../../static/img/target-audience_image-5.png" alt="">
            <div class="target-audience_card-text-wrapper">
              <h3 class="subtitle">Стартапам и растущим компаниям</h3>
              <p class="text">Формируем корпоративную культуру, сплочаем коллектив, развиваем лидерские качества
                сотрудников
                и повышаем гибкость к изменениям</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="start">
      <div class="wrapper">
        <div class="start_lottie"></div>
        <h2 class="start_title title1"><span>И это будет</span><span>совсем другое дело!</span></h2>
      </div>
    </section>
  </div>

  <section class="form-block" id="form-block">
    <div class="wrapper">
      <div class="form-block_image-wrapper">
        <img src="../../static/img/form-image-1.png" class="form-block_image form-block_image__first" alt="">
        <img src="../../static/img/form-image-2.png" class="form-block_image form-block_image__second" alt="">
      </div>
      <div class="form-block_container">
        <h2 class="title2 form-block_title">Давайте обсудим!</h2>
        <p class="form-block_desctiption text">В ходе нашего общения вы получите чёткий анализ текущего состояния
          бизнеса,
          выявление проблемных точек и практические рекомендации по их решению</p>
        <form action="" class="form">
          <div class="form_group">
            <span class="wpcf7-form-control-wrap">
              <input size="40" maxlength="400" class="input form_input" value="" type="text" placeholder="Имя">
            </span>
          </div>
          <div class="form_group form_tel">
            <span class="wpcf7-form-control-wrap">
              <input size="40" maxlength="400" class="input form_input form_input-phone" value="" type="tel"
                placeholder="Телефон">
            </span>
          </div>
          <div class="form_group form_group-tabs">

            <div class="form_group form_group-tabs">
              <span class="wpcf7-form-control-wrap" data-name="radio-787">
                <span class="wpcf7-form-control wpcf7-radio input-radio">
                  <span class="wpcf7-list-item first">
                    <label>
                      <input type="radio" name="radio-787" value="Позвонить мне" checked>
                      <span class="wpcf7-list-item-label">Позвонить мне</span>
                    </label>
                  </span>
                  <span class="wpcf7-list-item last">
                    <label>
                      <input type="radio" name="radio-787" value="Написать в телеграм">
                      <span class="wpcf7-list-item-label">Написать в телеграм</span>
                    </label>
                  </span>
                </span>
              </span>
            </div>
            <!-- <div class="input-radio-wrapper">
              <input type="radio" id="input1" name="contact-method" class="input-radio" />
              <label for="input1" class="input-radio-label input">Позвонить мне</label>
            </div>
            <div class="input-radio-wrapper">
              <input type="radio" id="input2" name="contact-method" class="input-radio" />
              <label for="input2" class="input-radio-label input">Написать в телеграм</label>
            </div> -->
          </div>
          <div class="form_group form_group-checkbox">
            <span class="wpcf7-list-item">
              <input type="checkbox" name="acceptance-59" value="1" aria-invalid="false">
              <span class="wpcf7-list-item-label text">Я соглашаюсь с
                <a href="/privacy-policy/" target="_blank">политикой
                  конфиденциальности</a></span>
            </span>
          </div>
          <button class="btn form_btn" type="submit">
            <span class="text button">Отправить</span>
          </button>
        </form>
      </div>
    </div>
  </section>

  <section class="cases" id="cases">
    <div class="wrapper">
      <div class="cases_text-wrapper">
        <h2 class="title1 cases_title">Кейсы</h2>
        <p class="cases_description text">Реальные примеры эффективности наших кэмпов Текст дописать текст текст текст
          текст
          текст текст текст </p>
      </div>
      <div class="cases_container">
        <div class="case">
          <a href="./case-page.html" class="case_about">
            <h3 class="subtitle case_about-title">I NEED MORE SALES</h3>
            <p class="text">Эксперты в HR, продажах, обучении, командообразовании и развитии лидеров. Мы легко
              погружаемся
              в проблематику разных отраслей бизнеса</p>
            <div class="button-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path
                  d="M19.207 13.3477L13.8281 18.7617L13.2305 19.3594L12.0352 18.1641L12.6328 17.5664L16.5703 13.5938H4.125L4.125 11.9062H16.5703L12.0352 7.37109L13.2305 6.17578L19.8047 12.75L19.207 13.3477Z"
                  fill="white" />
              </svg>
            </div>
          </a>
          <img src="../../static/img/image-cases-1.jpg" alt="">
          <img src="../../static/img/image-cases-2.jpg" alt="">
          <img src="../../static/img/image-cases-3.jpg" alt="">
        </div>
        <div class="case">
          <a href="./case-page.html" class="case_about">
            <h3 class="subtitle case_about-title">I NEED MORE SALES</h3>
            <p class="text">Эксперты в HR, продажах, обучении, командообразовании и развитии лидеров. Мы легко
              погружаемся
              в проблематику разных отраслей бизнеса</p>
            <div class="button-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path
                  d="M19.207 13.3477L13.8281 18.7617L13.2305 19.3594L12.0352 18.1641L12.6328 17.5664L16.5703 13.5938H4.125L4.125 11.9062H16.5703L12.0352 7.37109L13.2305 6.17578L19.8047 12.75L19.207 13.3477Z"
                  fill="white" />
              </svg>
            </div>
          </a>
          <img src="../../static/img/image-cases-1.jpg" alt="">
          <img src="../../static/img/image-cases-2.jpg" alt="">
          <img src="../../static/img/image-cases-3.jpg" alt="">
        </div>
        <div class="case">
          <a href="./case-page.html" class="case_about">
            <h3 class="subtitle case_about-title">I NEED MORE SALES</h3>
            <p class="text">Эксперты в HR, продажах, обучении, командообразовании и развитии лидеров. Мы легко
              погружаемся
              в проблематику разных отраслей бизнеса</p>
            <div class="button-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path
                  d="M19.207 13.3477L13.8281 18.7617L13.2305 19.3594L12.0352 18.1641L12.6328 17.5664L16.5703 13.5938H4.125L4.125 11.9062H16.5703L12.0352 7.37109L13.2305 6.17578L19.8047 12.75L19.207 13.3477Z"
                  fill="white" />
              </svg>
            </div>
          </a>
          <img src="../../static/img/image-cases-1.jpg" alt="">
          <img src="../../static/img/image-cases-2.jpg" alt="">
          <img src="../../static/img/image-cases-3.jpg" alt="">
        </div>

        <div class="cases_card">
          <div class="swiper cases_card-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide cases_card-slide">
                <img src="../../static/img/image-cases-1.jpg" alt="">
              </div>
              <div class="swiper-slide cases_card-slide">
                <img src="../../static/img/image-cases-2.jpg" alt="">
              </div>
              <div class="swiper-slide cases_card-slide">
                <img src="../../static/img/image-cases-3.jpg" alt="">
              </div>
            </div>

            <div class="main-pagination-wrapper">
              <div class="main-pagination-circle"></div>
              <div class="swiper-pagination cases-pagination"></div>
              <div class="main-pagination-square"></div>
            </div>
          </div>

          <div class="cases_item-about">
            <h3 class="subtitle cases_item-title">I NEED MORE SALES</h3>
            <p class="text">Эксперты в HR, продажах, обучении, командообразовании и развитии лидеров. Мы легко
              погружаемся
              в проблематику разных отраслей бизнеса</p>
            <a href="./case-page.html" class="button-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path
                  d="M19.207 13.3477L13.8281 18.7617L13.2305 19.3594L12.0352 18.1641L12.6328 17.5664L16.5703 13.5938H4.125L4.125 11.9062H16.5703L12.0352 7.37109L13.2305 6.17578L19.8047 12.75L19.207 13.3477Z"
                  fill="white" />
              </svg>
            </a>
          </div>

        </div>

        <div class="cases_card">
          <div class="swiper cases_card-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide cases_card-slide">
                <img src="../../static/img/image-cases-1.jpg" alt="">
              </div>
              <div class="swiper-slide cases_card-slide">
                <img src="../../static/img/image-cases-2.jpg" alt="">
              </div>
              <div class="swiper-slide cases_card-slide">
                <img src="../../static/img/image-cases-3.jpg" alt="">
              </div>
            </div>

            <div class="main-pagination-wrapper">
              <div class="main-pagination-circle"></div>
              <div class="swiper-pagination cases-pagination"></div>
              <div class="main-pagination-square"></div>
            </div>
          </div>

          <div class="cases_item-about">
            <h3 class="subtitle cases_item-title">I NEED MORE SALES</h3>
            <p class="text">Эксперты в HR, продажах, обучении, командообразовании и развитии лидеров. Мы легко
              погружаемся
              в проблематику разных отраслей бизнеса</p>
            <a href="./case-page.html" class="button-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path
                  d="M19.207 13.3477L13.8281 18.7617L13.2305 19.3594L12.0352 18.1641L12.6328 17.5664L16.5703 13.5938H4.125L4.125 11.9062H16.5703L12.0352 7.37109L13.2305 6.17578L19.8047 12.75L19.207 13.3477Z"
                  fill="white" />
              </svg>
            </a>
          </div>

        </div>

        <div class="cases_card">
          <div class="swiper cases_card-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide cases_card-slide">
                <img src="../../static/img/image-cases-1.jpg" alt="">
              </div>
              <div class="swiper-slide cases_card-slide">
                <img src="../../static/img/image-cases-2.jpg" alt="">
              </div>
              <div class="swiper-slide cases_card-slide">
                <img src="../../static/img/image-cases-3.jpg" alt="">
              </div>
            </div>

            <div class="main-pagination-wrapper">
              <div class="main-pagination-circle"></div>
              <div class="swiper-pagination cases-pagination"></div>
              <div class="main-pagination-square"></div>
            </div>
          </div>

          <div class="cases_item-about">
            <h3 class="subtitle cases_item-title">I NEED MORE SALES</h3>
            <p class="text">Эксперты в HR, продажах, обучении, командообразовании и развитии лидеров. Мы легко
              погружаемся
              в проблематику разных отраслей бизнеса</p>
            <a href="./case-page.html" class="button-arrow">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path
                  d="M19.207 13.3477L13.8281 18.7617L13.2305 19.3594L12.0352 18.1641L12.6328 17.5664L16.5703 13.5938H4.125L4.125 11.9062H16.5703L12.0352 7.37109L13.2305 6.17578L19.8047 12.75L19.207 13.3477Z"
                  fill="white" />
              </svg>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="our-team" id="our-team">
    <div class="wrapper">
      <div class="our-team_text-wrapper">
        <h2 class="title1 our-team_title">Наша команда</h2>
        <p class="text our-team_description">
          Эксперты в HR, продажах, обучении, командообразовании и развитии лидеров. Мы легко погружаемся в проблематику
          разных отраслей бизнеса и адаптируем программу кэмпа под потребности вашей компании.
        </p>
      </div>

      <div class="our-team_list">
        <div class="our-team_list-row">
          <div class="our-team_card">
            <div class="our-team_card-image-wrapper">
              <img class="main-image" src="../../static/img/image-our-team.jpg" alt="">
              <img class="second-image zone" src="../../static/img/case-image-1.jpg" alt="">
              <div class="our-team_card-image-text-wrapper zone">
                <p class="our-team_card-image-text text">
                  Управляющий партнер.
                  <br><br>
                  Более 15 лет опыта построения, мотивации и развития результативных отделов продаж в международных
                  компаниях B2B сектора. Эксперт в формировании клиентского опыта. Действующий бизнес-тренер. Управляю
                  бизнес-процессами и финансами akiwa.
                </p>
              </div>
              <div class="hover-zone hover-left"></div>
              <div class="hover-zone hover-right"></div>
            </div>
            <span class="text">Константин Константинопольский</span>
          </div>
          <div class="our-team_card">
            <div class="our-team_card-image-wrapper">
              <img class="main-image" src="../../static/img/image-our-team.jpg" alt="">
              <img class="second-image zone" src="../../static/img/case-image-1.jpg" alt="">
              <div class="our-team_card-image-text-wrapper zone">
                <p class="our-team_card-image-text text">
                  Управляющий партнер.
                  <br><br>
                  Более 15 лет опыта построения, мотивации и развития результативных отделов продаж в международных
                  компаниях B2B сектора. Эксперт в формировании клиентского опыта. Действующий бизнес-тренер. Управляю
                  бизнес-процессами и финансами akiwa.
                </p>
              </div>
              <div class="hover-zone hover-left"></div>
              <div class="hover-zone hover-right"></div>
            </div>
            <span class="text">Константин Константинопольский</span>
          </div>
        </div>
        <div class="our-team_list-row">
          <div class="our-team_card">
            <div class="our-team_card-image-wrapper">
              <img class="main-image" src="../../static/img/image-our-team.jpg" alt="">
              <img class="second-image zone" src="../../static/img/case-image-1.jpg" alt="">
              <div class="our-team_card-image-text-wrapper zone">
                <p class="our-team_card-image-text text">
                  Управляющий партнер.
                  <br><br>
                  Более 15 лет опыта построения, мотивации и развития результативных отделов продаж в международных
                  компаниях B2B сектора. Эксперт в формировании клиентского опыта. Действующий бизнес-тренер. Управляю
                  бизнес-процессами и финансами akiwa.
                </p>
              </div>
              <div class="hover-zone hover-left"></div>
              <div class="hover-zone hover-right"></div>
            </div>
            <span class="text">Константин Константинопольский</span>
          </div>
          <div class="our-team_card">
            <div class="our-team_card-image-wrapper">
              <img src="../../static/img/image-our-team.jpg" alt="">
              <img src="../../static/img/image-our-team.jpg" alt="">
            </div>
            <span class="text">Константин Константинопольский</span>
          </div>
        </div>
        <div class="our-team_list-row">
          <div class="our-team_card">
            <div class="our-team_card-image-wrapper">
              <img class="main-image" src="../../static/img/image-our-team.jpg" alt="">
              <img class="second-image zone" src="../../static/img/case-image-1.jpg" alt="">
              <div class="our-team_card-image-text-wrapper zone">
                <p class="our-team_card-image-text text">
                  Управляющий партнер.
                  <br><br>
                  Более 15 лет опыта построения, мотивации и развития результативных отделов продаж в международных
                  компаниях B2B сектора. Эксперт в формировании клиентского опыта. Действующий бизнес-тренер. Управляю
                  бизнес-процессами и финансами akiwa.
                </p>
              </div>
              <div class="hover-zone hover-left"></div>
              <div class="hover-zone hover-right"></div>
            </div>
            <span class="text">Константин Константинопольский</span>
          </div>
          <div class="our-team_card">
            <div class="our-team_card-image-wrapper">
              <img class="main-image" src="../../static/img/image-our-team.jpg" alt="">
              <img class="second-image zone" src="../../static/img/case-image-1.jpg" alt="">
              <div class="our-team_card-image-text-wrapper zone">
                <p class="our-team_card-image-text text">
                  Управляющий партнер.
                  <br><br>
                  Более 15 лет опыта построения, мотивации и развития результативных отделов продаж в международных
                  компаниях B2B сектора. Эксперт в формировании клиентского опыта. Действующий бизнес-тренер. Управляю
                  бизнес-процессами и финансами akiwa.
                </p>
              </div>
              <div class="hover-zone hover-left"></div>
              <div class="hover-zone hover-right"></div>
            </div>
            <span class="text">Константин Константинопольский</span>
          </div>
        </div>

      </div>

      <div class="swiper our-team_slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide our-team_card">
            <div class="our-team_card-image-wrapper">
              <img src="../../static/img/image-our-team.jpg" alt="">
            </div>
            <span class="text">Константин Константинопольский</span>
            <p class="text">
              HR с заботой о людях в ДНК. Опыт работы более 5ти лет. Внедрение ценностей в компании, создание
              корпоративного института, успешные проекты по повышению удовлетворенности и вовлеченности сотрудников,
              внутренняя школа тренеров. В создании бизнес-кэмпов контролирую все организационные моменты с заботой о
              ваших сотрудниках.
            </p>
          </div>
          <div class="swiper-slide our-team_card">
            <div class="our-team_card-image-wrapper">
              <img src="../../static/img/image-our-team.jpg" alt="">
            </div>
            <span class="text">Константин Константинопольский</span>
            <p class="text">
              HR с заботой о людях в ДНК. Опыт работы более 5ти лет. Внедрение ценностей в компании, создание
              корпоративного института, успешные проекты по повышению удовлетворенности и вовлеченности сотрудников,
              внутренняя школа тренеров. В создании бизнес-кэмпов контролирую все организационные моменты с заботой о
              ваших сотрудниках.
            </p>
          </div>
          <div class="swiper-slide our-team_card">
            <div class="our-team_card-image-wrapper">
              <img src="../../static/img/image-our-team.jpg" alt="">
            </div>
            <span class="text">Константин Константинопольский</span>
            <p class="text">
              HR с заботой о людях в ДНК. Опыт работы более 5ти лет. Внедрение ценностей в компании, создание
              корпоративного института, успешные проекты по повышению удовлетворенности и вовлеченности сотрудников,
              внутренняя школа тренеров. В создании бизнес-кэмпов контролирую все организационные моменты с заботой о
              ваших сотрудниках.
            </p>
          </div>
          <div class="swiper-slide our-team_card">
            <div class="our-team_card-image-wrapper">
              <img src="../../static/img/image-our-team.jpg" alt="">
            </div>
            <span class="text">Константин Константинопольский</span>
            <p class="text">
              HR с заботой о людях в ДНК. Опыт работы более 5ти лет. Внедрение ценностей в компании, создание
              корпоративного института, успешные проекты по повышению удовлетворенности и вовлеченности сотрудников,
              внутренняя школа тренеров. В создании бизнес-кэмпов контролирую все организационные моменты с заботой о
              ваших сотрудниках.
            </p>
          </div>
          <div class="swiper-slide our-team_card">
            <div class="our-team_card-image-wrapper">
              <img src="../../static/img/image-our-team.jpg" alt="">
            </div>
            <span class="text">Константин Константинопольский</span>
            <p class="text">
              HR с заботой о людях в ДНК. Опыт работы более 5ти лет. Внедрение ценностей в компании, создание
              корпоративного института, успешные проекты по повышению удовлетворенности и вовлеченности сотрудников,
              внутренняя школа тренеров. В создании бизнес-кэмпов контролирую все организационные моменты с заботой о
              ваших сотрудниках.
            </p>
          </div>
          <div class="swiper-slide our-team_card">
            <div class="our-team_card-image-wrapper">
              <img src="../../static/img/image-our-team.jpg" alt="">
            </div>
            <span class="text">Константин Константинопольский</span>
            <p class="text">
              HR с заботой о людях в ДНК. Опыт работы более 5ти лет. Внедрение ценностей в компании
            </p>
          </div>
        </div>
        <div class="main-pagination-wrapper">
          <div class="main-pagination-circle"></div>
          <div class="swiper-pagination our-team-pagination"></div>
          <div class="main-pagination-square"></div>
        </div>
      </div>
    </div>
  </section>
</div>

@@include("../partials/footer.html")