@@include("../partials/header.html")

<div class="privacy-policy">
  <h1>Политика конфиденциальности для сайта akiwacamp.com</h1>
  <p>Дата вступления в силу: </p>
  <h2>1. Общие положения</h2>
  <p>
    Настоящая Политика конфиденциальности (далее – «Политика») определяет порядок сбора, использования, хранения и
    защиты персональной информации пользователей сайта [название сайта или URL] (далее – «Сайт»). Мы уважаем ваше право
    на конфиденциальность и стремимся обеспечить защиту ваших персональных данных в соответствии с действующим
    законодательством. <br><br>

    Используя наш Сайт, вы принимаете условия данной Политики. Если вы не согласны с условиями Политики, просьба
    воздержаться от использования Сайта.
  </p>
  <h2>2. Сбор и использование персональных данных</h2>
  <p>
    Мы можем собирать и обрабатывать следующие категории персональных данных:<br>
    - Имя и фамилия;<br>
    - Контактные данные (адрес электронной почты, номер телефона и др.);<br>
    - Информация о компании или вашей профессиональной деятельности;<br>
    - Данные, переданные в процессе коммуникации с нами (например, через форму обратной связи, электронную почту или
    телефон);<br>
    - Техническая информация: IP-адрес, данные о вашем устройстве, браузере, операционной системе и т. д.
    <br><br>
    Ваши данные используются исключительно для следующих целей:<br>
    - Оказание услуг, связанных с разработкой и организацией бизнес-кэмпов и других услуг, оказываемых ИП Киуру И.А.;<br>
    - Устранение технических проблем и улучшение работы Сайта;<br>
    - Ответы на запросы пользователей и оказание поддержки;<br>
    - Информирование о новых продуктах, услугах, акциях и событиях при наличии вашего согласия.

  </p>

  <h2>3. Cookies и другие технологии</h2>
  <p>
    Для улучшения работы Сайта мы используем cookies и аналогичные технологии. Эти данные помогают нам понимать, каким
    образом пользователи взаимодействуют с ресурсом, и адаптировать его под их потребности.<br><br>

    Вы можете настроить параметр cookie-файлов в настройках вашего браузера. Однако отключение cookies может ограничить
    функционал Сайта.

  </p>
  <h2>4. Передача и хранение данных</h2>
  <p>
    Мы не передаем ваши персональные данные третьим лицам за исключением случаев, предусмотренных законодательством, или
    если это необходимо для выполнения обязательств перед вами, например:<br>
    - Партнерам, участвующим в предоставлении услуг (организация мероприятий, проведение тренингов и т. д.); Эти третьи
    стороны обязаны соблюдать строгие стандарты конфиденциальности и безопасности и использовать ваши данные
    исключительно в целях, определенных в нашей Политике конфиденциальности - В случае обмена данными с государственными
    органами в рамках их законных полномочий.<br><br>

    Ваши данные хранятся на серверах, расположенных в защищенных центрах обработки данных, и обрабатываются в
    соответствии с актуальными стандартами безопасности.

  </p>
  <h2>5. Безопасность данных</h2>
  <p>
    Мы принимаем необходимые организационные и технические меры для защиты вашей информации от утраты, утечек,
    несанкционированного доступа, изменения или уничтожения. Несмотря на это, ни один способ передачи данных через
    интернет или их электронного хранения не может гарантировать абсолютную безопасность.
  </p>
  <h2>6. Права пользователей</h2>
  <p>
    Вы имеете право:
    - Получать доступ к своим персональным данным и требовать их уточнения, обновления или удаления, если они устарели,
    неточны или были собраны незаконным способом;<br>
    - Отозвать свое согласие на обработку персональных данных;<br>
    - Потребовать ограничения обработки или полного прекращения обработки ваших данных (если это возможно в рамках
    действующего законодательства);<br>
    - Подать жалобу в надзорный орган в случае несогласия с нашими действиями по отношению к вашим данным.
    <br><br>
    Для реализации ваших прав или получения дополнительной информации вы можете связаться с нами по контактам, указанным
    ниже.

  </p>
  <h2>7. Дети и персональные данные</h2>
  <p>
    Сайт не предназначен для использования лицами младше 18 лет. Мы не собираем данные детей намеренно. Если вы
    являетесь родителем или опекуном и обнаружили, что ваши дети передали нам свои данные, свяжитесь с нами, чтобы мы
    смогли удалить такие данные.
  </p>
  <h2>8. Изменения в Политике конфиденциальности</h2>
  <p>
    Мы оставляем за собой право вносить изменения в настоящую Политику. Актуальная редакция Политики всегда будет
    доступна на нашем Сайте. Мы рекомендуем периодически проверять Политику на наличие изменений.
  </p>
  <h2>9. Контакты </h2>
  <p>
    Если у вас возникли вопросы, предложения или жалобы, связанные с настоящей Политикой конфиденциальности, пожалуйста,
    свяжитесь с нами:<br><br>

    ИП Киуру Ирина Александровна<br>
    Санкт-Петербург, пр. Просвещения, 43<br>
    info@akiwacamp.com<br>
    +7-931-220-08-81<br>
    <br><br>
    ---
    <br><br>
    Спасибо за доверие к нашей компании! Мы ценим вашу конфиденциальность и делаем всё возможное для её защиты.

  </p>
</div>

@@include("../partials/footer-empty.html")