@@include('../partials/header.html')

<main class="ui-kit">

    <section class="colors">
        <div class="wrapper">
            <h2>Colors</h2>
            <div class="row">
                <div class="grey_blue">$grey_blue</div>
                <div class="grey_blue">$grey_blue</div>
                <div class="black">$black</div>
                <div class="grey">$grey</div>
                <div class="orange">$orange</div>
                <div class="dark_blue">$dark_blue</div>
                <div class="light_blue">$light_blue</div>
                <div class="error">$error</div>
            </div>
        </div>
    </section>

    <section class="typography">
        <div class="wrapper">
            <h2 class="title2">Fonts</h2>
            <div class="inner">
                <div class="column">
                    <p class="title1">Title1</p>
                    <p class="title2">Title2</p>
                    <p class="subtitle">Subtitle</p>
                    <p class="text">Text</p>
                    <p class="input">Input</p>
                    <p class="button">Button 18px</p>
                    <p class="button-s">Button 13px S</p>
                    <p class="numbers">Numbers 80px</p>
                    <p class="numbers-2">Numbers 2 48px</p>
                </div>
            </div>
        </div>
    </section>

    <section class="navigation">
        <div class="wrapper">
            <h2 class="title2">Buttons and Links</h2>
            <div class="inner">

                <div class="column">
                    <div class="item">
                        <div class="input-radio-wrapper">
                            <input type="radio" id="input1" class="input-radio" />
                            <label for="input1" class="input-radio-label input">Label</label>
                        </div>
                    </div>

                    <div class="item">
                        <input type="radio" id="input2" class="input-radio" checked />
                        <label for="input2" class="input-radio-label input">Label</label>
                    </div>
                </div>

                <div class="column">
                    <div class="item">
                        <a href="https://iskra.st" class="button-iskra" target="_blank">
                            <span class="button-iskra__text">Сделано<br>с любовью</span>
                            <img src="../../static/img/logo-iskra.svg" alt="">
                        </a>
                    </div>
                </div>

                <div class="column">
                    <div class="item">
                        <button class="btn">
                            <span class="button">Связаться с нами</span>
                        </button>
                    </div>

                    <div class="item">
                        <button class="btn" disabled>
                            <span class="button">Связаться с нами</span>
                        </button>
                    </div>

                    <div class="item">
                        <button class="btn btn-s">
                            <span class="button-s">Связаться с нами</span>
                        </button>
                    </div>

                    <div class="item">
                        <button class="btn btn-s" disabled>
                            <span class="button-s">Связаться с нами</span>
                        </button>
                    </div>
                </div>

                <div class="column">
                    <div class="item">
                        <button class="btn-image">
                            <div class="btn-image_wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M4.125 4.375H19.875V20.125H4.125V4.375ZM13.9688 7.75L12.5625 10.2812L14.0039 11.4766C13.3711 12.6719 12.3867 13.6562 11.1914 14.2891L10.0312 12.8125L7.5 14.2188L8.0625 16.75H8.625C12.9492 16.75 16.5 13.2344 16.5 8.875V8.3125L13.9688 7.75Z"
                                        fill="#464F5E" />
                                </svg>
                            </div>
                            <span class="button-s">Связаться с нами</span>
                        </button>
                    </div>

                    <div class="item">
                        <button class="btn-image" disabled>
                            <div class="btn-image_wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <path
                                        d="M4.125 4.375H19.875V20.125H4.125V4.375ZM13.9688 7.75L12.5625 10.2812L14.0039 11.4766C13.3711 12.6719 12.3867 13.6562 11.1914 14.2891L10.0312 12.8125L7.5 14.2188L8.0625 16.75H8.625C12.9492 16.75 16.5 13.2344 16.5 8.875V8.3125L13.9688 7.75Z"
                                        fill="#464F5E" />
                                </svg>
                            </div>
                            <span class="button-s">Связаться с нами</span>
                        </button>
                    </div>
                </div>

                <div class="column">
                    <div class="item">
                        <a href="" class="link text">Наш подход</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="form-elements">
        <div class="wrapper">
            <h2>Form elements</h2>
            <div class="inner">

                <div class="column">
                    <div class="item">
                        <form action="">
                            <div class="form_group">
                                <span class="wpcf7-form-control-wrap">
                                    <input size="40" maxlength="400" class="input form_input" value="" type="text"
                                        placeholder="Имя">
                                </span>
                            </div>
                        </form>
                    </div>

                    <div class="item">
                        <form action="">
                            <div class="form_group">
                                <span class="wpcf7-form-control-wrap">
                                    <input size="40" maxlength="400" class="input form_input" value="" type="text"
                                        placeholder="Имя">
                                </span>
                            </div>
                        </form>
                    </div>

                    <div class="item">
                        <form action="">
                            <div class="form_group">
                                <span class="wpcf7-form-control-wrap">
                                    <input size="40" maxlength="400" class="input form_input wpcf7-not-valid" value=""
                                        type="text" placeholder="Имя">
                                </span>
                            </div>
                        </form>
                    </div>

                    <div class="item">
                        <form action="">
                            <div class="form_group form_group-checkbox">
                                <span class="wpcf7-list-item">
                                    <input type="checkbox" name="acceptance-59" value="1" aria-invalid="false">
                                    <span class="wpcf7-list-item-label text">Я соглашаюсь с
                                        <a href="/privacy-policy/" target="_blank">политикой
                                            конфиденциальности</a></span>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="complex">
        <div class="wrapper">
            <h2>Tabs</h2>

            <div class="row accordion2">
                <div class="item">
                    <details open="open">
                        <summary>
                            <span class="title2">Проблемы</span>
                            <span class="accordion2_chevron-box" aria-hidden="true">
                            </span>
                        </summary>
                        <div class="accordion2_content" style="display: none;">
                            <ul class="accordion2_content-list accordion2_content-list__two-columns">
                                <li class="text">Низкий уровень продаж на человека</li>
                                <li class="text">Неравномерные результаты в разных регионах</li>
                                <li class="text">Отсутствие фокуса на долгосрочном планировании</li>
                                <li class="text">Ориентация сотрудников на выполнение месячного плана</li>
                                <li class="text">Слабая коммуникация между командами</li>
                                <li class="text">Разброс сотрудников по разным городам</li>
                                <li class="text">Демотивированные сотрудники из-за смены бонусной системы</li>
                                <li class="text">Нехватка мотивации для обмена знаниями</li>
                                <li class="text">Опытные сотрудники не имели формата для интересного обмена опытом</li>
                            </ul>
                        </div>
                    </details>
                </div>
            </div>

            <div class="row accordion2">
                <div class="item">
                    <details open="open">
                        <summary>
                            <h3 class="title2">Реализация</h3>
                            <span class="accordion2_chevron-box" aria-hidden="true">
                            </span>
                        </summary>
                        <div class="accordion2_content" style="display: none;">
                            <ul class="accordion2_content-list accordion2_content-list__one-column">
                                <li class="text">
                                    <h4 class="subtitle">Формат</h4>
                                    <span class="text">Бизнес-квест</span>
                                </li>
                                <li class="text">
                                    <h4 class="subtitle">Участники</h4>
                                    <span class="text">60 сотрудников, прошедших предварительный отбор</span>
                                </li>
                                <li class="text">
                                    <h4 class="subtitle">Площадка</h4>
                                    <span class="text">Виртуальная для общения участников с приветственным открытием в стилистике межгалактических путешествий</span>
                                </li>
                                <li class="text">
                                    <h4 class="subtitle">Локация</h4>
                                    <span class="text">Красная Поляна с темой четырех инопланетных цивилизаций</span>
                                </li>
                                <li class="text">
                                    <h4 class="subtitle">Закрытие</h4>
                                    <span class="text">Торжественное с мастер-классом по барабанам</span>
                                </li>
                            </ul>
                        </div>
                    </details>
                </div>
            </div>

        </div>
    </section>

    <section class="modals">
        <div class="wrapper">
            <h2>Modals</h2>

            <div class="inner">
                <div class="column">
                    <div class="item">
                        <button class="btn btn--white" data-modal="modal-success">Успех</button>
                        <div class="modal-wrap" id="modal-success">
                            <div class="modal-shadow"></div>
                            <div class="modal">
                                <div class="modal-upper-line"></div>
                                <div class="modal-header">
                                    <img class="modal-logo" src="../../static/img/logo.svg" alt="">
                                    <button class="modal-cross btn-times">
                                        <img src="../../static/img/close_black.svg" alt="" />
                                    </button>
                                </div>

                                <div class="modal-wrapper wrapper">

                                    <img class="modal_image-success" src="../../static/img/modal_success.png" alt="">
                                    <div class="modal-content">
                                        <h2 class="modal-title title2">Данные успешно отправлены</h2>

                                        <div class="modal-text text1 __regular">Мы свяжемся с вами в ближайшее время
                                        </div>
                                    </div>

                                    <button href="" class="modal-action modal-btn modal-btn-close btn">
                                        <span class="button-sb">Закрыть</span>
                                    </button>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">

                        <button class="btn btn--white" data-modal="modal-fail">Провал</button>

                        <div class="modal-wrap" id="modal-fail">
                            <div class="modal-shadow"></div>
                            <div class="modal">
                                <div class="modal-upper-line"></div>
                                <div class="modal-header">
                                    <img class="modal-logo" src="../../static/img/logo.svg" alt="">
                                    <button class="modal-cross btn-times">
                                        <img src="../../static/img/close_black.svg" alt="" />
                                    </button>
                                </div>

                                <div class="modal-wrapper wrapper">
                                    <div class="modal-content">
                                        <h2 class="modal-title title2">Что-то пошло не так…</h2>

                                        <div class="modal-text text1 __regular">Попробуйте еще раз или повторите запрос
                                            позже. Вы всегда можете связаться с нами любым удобным способом</div>

                                        <button href="" class="modal-action modal-btn modal-btn_contact btn">
                                            <span class="button-sb">+7 (345) 250 -01 -56
                                                <img src="../../static/img/phone_modal_icon.svg" alt="">
                                            </span></button>

                                        <button href="" class="modal-action modal-btn modal-btn_contact btn">
                                            <span class="button-sb">Написать нам WhatsApp
                                                <img src="../../static/img/whatsapp_modal_icon.svg" alt="">
                                            </span></button>
                                    </div>

                                    <button href="" class="modal-action modal-btn modal-btn-close btn">
                                        <span class="button-sb">Закрыть</span>
                                    </button>

                                </div>
                                </img>
                            </div>

                        </div>

                        <div class="item">

                            <button class="btn btn--white" data-modal="modal-form">Форма</button>

                            <div class="modal-wrap" id="modal-form">
                                <div class="modal-shadow"></div>
                                <div class="modal">
                                    <div class="modal-upper-line"></div>
                                    <div class="modal-header">
                                        <img class="modal-logo" src="../../static/img/logo.svg" alt="">
                                        <button class="modal-cross btn-times">
                                            <img src="../../static/img/close_black.svg" alt="" />
                                        </button>
                                    </div>

                                    <div class="modal-wrapper wrapper">
                                        <div class="modal-content">
                                            <h2 class="modal-title title2">Получить консультацию</h2>

                                            <div class="modal-text text1 __regular">
                                                Убедитесь в правильности выбранного вами цвета. Если не выбрали цвет -
                                                мы поможем!
                                            </div>
                                            <!-- <div class="modal-form">
                                                @@include('../partials/modal-form.html')
                                            </div> -->
                                        </div>

                                        <form class="footer_form">
                                            <div class="form_group">
                                                <span class="wpcf7-form-control-wrap">
                                                    <input size="40" maxlength="400"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input"
                                                        aria-required="true" aria-invalid="false" placeholder="‎ ‎"
                                                        value="" type="text" name="self-name">
                                                </span>
                                                <label for="self-name" class="form_label"></label>
                                            </div>
                                            <div class="form_group">
                                                <span class="wpcf7-form-control-wrap">
                                                    <input size="40" maxlength="400"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input"
                                                        aria-required="true" aria-invalid="false" placeholder="‎ ‎"
                                                        value="" type="text" name="self-name">

                                                    <span class="input-placeholder">Телефон</span>
                                                </span>
                                            </div>

                                            <div class="form_group">
                                                <span class="wpcf7-form-control-wrap" data-name="acceptance-490">
                                                    <span class="wpcf7-form-control wpcf7-acceptance">
                                                        <span class="wpcf7-list-item">
                                                            <label>
                                                                <input type="checkbox" name="acceptance-490" value="1"
                                                                    aria-invalid="false" />
                                                                <span
                                                                    class="wpcf7-list-item-label text2 __regular modal-checkbox-text">Помочь
                                                                    с выбором цвета
                                                                </span>
                                                            </label>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>

                                            <div class="form_group acceptance-row">
                                                <span class="wpcf7-form-control-wrap" data-name="acceptance-489">
                                                    <span class="wpcf7-form-control wpcf7-acceptance">
                                                        <span class="wpcf7-list-item">
                                                            <label>
                                                                <input type="checkbox" name="acceptance-489" value="1"
                                                                    aria-invalid="false" />
                                                                <span
                                                                    class="wpcf7-list-item-label text2 __regular modal-checkbox-text">Я
                                                                    соглашаюсь с
                                                                    <a href="/privacy-policy"
                                                                        class="link-contact">политикой
                                                                        конфиденциальности
                                                                    </a>
                                                                </span>
                                                            </label>
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                            <button class="wpcf7-form-control wpcf7-submit has-spinner btn"
                                                type="submit"> <span class="button-sb">Отправить</span></button>
                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>

            </div>
    </section>

</main>

@@include('../partials/footer.html')