<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="../../static/img/checkbox-off.svg" as="image" type="image/svg+xml">
    <link rel="preload" href="../../static/img/checkbox-on.svg" as="image" type="image/svg+xml">
    <link rel="stylesheet" href="../../static/fonts/stylesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../bundle.css">
</head>

<body>
    <header class="header" id="main-header">
        <div class="wrapper">
            <button class="burger-btn">
                <span class="burger-btn_line-wrapper">
                    <span></span>
                </span>
                <span class="burger-btn_line-wrapper">
                    <span></span>
                </span>
            </button>

            <button class="header_button-close">
                <span></span>
                <span></span>
            </button>

            <a href="./" class="header_button-close-link">
                <span></span>
                <span></span>
            </a>

            <a class="logo-not-touch" href="./">
                <img src="../../static/img/logo-mob.png" alt="" class="header_logo-mob">

                <div class="header_animation header_logo"></div>

                <img class="case-logo" src="../../static/img/logo-case.png" alt="">
            </a>
            <a class="logo-touch" href="./">
                <img src="../../static/img/logo-mob.png" alt="" class="header_logo-mob">

                <div class="header_animation header_logo"></div>

                <img class="case-logo" src="../../static/img/logo-case.png" alt="">
            </a>

            <div class="header_button-wrapper">
                <button class="btn header_btn-sound"></button>
                <a href="#form-block" class="btn btn-s header_btn">
                    <span class="button-s">Связаться с нами</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <rect x="6" y="6" width="16" height="13" fill="black" />
                        <path d="M1 19L6 19L6 13L1 19Z" fill="black" />
                        <rect x="10" y="11" width="3" height="3" fill="white" />
                        <rect x="15" y="11" width="3" height="3" fill="white" />
                    </svg>
                </a>
            </div>
        </div>

        <div class="header-menu">
            <div class="wrapper">
                <nav class="header-menu_nav">
                    <ul class="header-menu_nav-list">
                        <li>
                            <a href="./#help-section" class="title2">НАШ ПОДХОД</a>
                        </li>
                        <li>
                            <a href="./#cases" class="title2">КЕЙСЫ</a>
                        </li>
                        <li>
                            <a href="./#creation" class="title2">ПРОЦЕСС</a>
                        </li>
                        <li>
                            <a href="./#our-team" class="title2">НАША КОМАНДА</a>
                        </li>
                        <li>
                            <a href="./#footer" class="title2">КОНТАКТЫ</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>